@font-face {
  font-family: "Fredericka the Great";
  src: url(../../../../fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../../../fonts/Lora-Regular.ttf);
}

