{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                lalala
            </div>
        </div>
    </div>
{% endblock %}