{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/frontend.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/frontend.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="top-bar">
        <div class="top-bar-left">
            {{ knp_menu_render('main') }}
        </div>
    </div>
    <div class="grid-x">
        <div class="cell banner"></div>
    </div>
    {% block body %}{% endblock %}
    <div class="grid-container footer">
        <div class="grid-x grid-padding-x">
            <div class="cell text-center">
                copyright &copy; 2018 - <a href="https://www.minerva-sylvanas.com">www.minerva-sylvanas.com</a>
            </div>
        </div>
    </div>
{% endblock %}