<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Minerva - Sylvanas{% endblock %}</title>
        {%- block stylesheets -%}{%- endblock -%}
    </head>
    <body>
    {% block content %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/libs.js') }}"></script>

    {% endblock %}
    </body>
</html>
