{% extends 'frontend/base.html.twig' %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell article">
                <h1>Headline - Fredericka the Great 3 em</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius tincidunt nisl a fermentum. Duis et orci nec metus tincidunt ultricies. Mauris iaculis ligula pulvinar nibh commodo, vel blandit nisl dignissim. Nam placerat ex bibendum mi facilisis porta. Nam dignissim sapien elit, vitae fermentum magna dictum eu. Nullam nec odio dolor. Ut commodo condimentum tellus aliquet dignissim. Donec sit amet tellus non neque egestas ornare. Mauris sapien velit, pellentesque sed maximus nec, elementum sed nunc. Etiam sit amet faucibus nulla, consectetur lacinia ante. Nam feugiat auctor libero. Ut ornare sapien nec eros iaculis, vitae gravida massa dapibus.</p>
                <h2>Smaller headline 2.25em</h2>
                <p>In a arcu nec massa malesuada efficitur. Nullam accumsan eros interdum sem volutpat, nec pellentesque felis ultrices. Suspendisse potenti. Integer efficitur nisi a purus elementum tempus. Praesent consectetur tempor felis, et elementum lacus. Integer facilisis odio purus, sit amet dapibus leo convallis at. Cras cursus in eros eget varius. Sed at sodales nulla, ac ultrices est. Ut vehicula nunc dui, id lobortis mi facilisis nec. Cras eget tellus sed turpis tristique posuere.</p>
            </div>
        </div>
    </div>
{% endblock %}